.home-page {
	width: 100%;
	height: 100;
	margin-top: 10px;
	padding: 20px;
}

.product-content {
	width: 100%;
}

.product-heading {
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}

.list-group-item-actions {
	display: flex;
	justify-content: space-between;
}

.update-product-form {
	margin-right: 5px;
}

.add-product {
	width: 80%;
	margin: 20px auto;
	padding: 10px 0px;
}

.add-product-heading {
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}

.add-product-form {
	width: 50%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}

.form-title {
	width: 80%;
	margin-right: 10px;
}

.form-submit {
	margin-top: 24px;
}

.delete-product-form-btn {
	border: none;
	background: transparent;
	cursor: pointer;
}
